/*main sections*/
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header, footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 7.5vh;
    width: 100vw;
    z-index: 1;
    background-image: radial-gradient(darkgray 5%, rgb(13, 13, 87) 90%);
    color: white;
}
header {
    top:0%;
}
footer {
    bottom: 0%;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    position: relative;
    background: lightgrey;
    height: 100vh;
    width: auto;
}
i {
    font-size: 3em;
}
a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}
nav span.material-symbols-outlined a {
    color: black;
}
a:hover {
    color: gold;
    font-weight: bolder;
}

@media (min-aspect-ratio: 7/10) and (max-aspect-ratio: 1){
    footer{
        bottom: 7.5vh;
    }
}

@media (min-aspect-ratio: 3/5) and (max-aspect-ratio: 7/10) {
    footer{
        bottom: 27vh;
    }
    .carousel {
        margin-top: -30%;
    }
    #edu {
        margin-top: -30%;
    }
}

@media (min-aspect-ratio: 1) {
    footer{
        bottom: 0;
    }
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 900 */

.inconsolata-font1 {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 800 */

.oxanium-font2 {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 700*/

.teko-font3 {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*home subsection*/
#home {
    display: block;
    color: white;
    background-color: black;
}
#home::before, #home:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
#home::before {
    background: radial-gradient(circle, white .14vh, transparent 1.5px),
    radial-gradient(circle, white .17vh, transparent 1.5px),
    radial-gradient(circle, white .2vh, transparent 2px),
    radial-gradient(circle, white .24vh, transparent 2px),
    radial-gradient(circle, white .28vh, transparent 2.5px);
    background-size: 50vw 50vh;
    background-position: 33vw 10vh, 27vw 64vh, 50vw 48vh, 9vw 40vh;
    animation: twinkle 5s infinite;
}
@keyframes twinkle {
    0% {opacity: .5;}
    50% {opacity: 1;}
    100% {opacity: .8;}
}
#home::after {
    background: radial-gradient(circle, white .1vh, transparent 1.5px),
    radial-gradient(circle, white .15vh, transparent 1.5px),
    radial-gradient(circle, white .2vh, transparent 2px),
    radial-gradient(circle, white .22vh, transparent 2.5px),
    radial-gradient(circle, white .25vh, transparent 3px);
    background-size: 50vw 50vh;
    background-position: 41vw 70vh, 17vw 31vh, 81vw 20vh, 72vw 90vh, 50vw 76vh;
    animation: twinkle2 3s infinite;
}
@keyframes twinkle2 {
    0% {opacity: .3;}
    50% {opacity: 1;}
    100% {opacity: .8;}
}
.comet {
    position: sticky;
    border-radius: 50%;
    height: .75vh;
    aspect-ratio: 1;
    top: 20%;
    left: 99%;
    background-color: white;
    animation-name: fly;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 10s;
    opacity: 0;
}
@keyframes fly {
    0% {opacity: 0;
        transform: translate(0, 0);
    }
    50% {opacity: 1;
        height: .4vh;
    }
    100% {opacity: 0;
        transform: translate(-70vw, -25vh);
        height: 0.25vh;
    }
}
.nameF, .nameL {
    position: relative;
    left: 10%;
    top: 10%;
    font-size: 4em;
    text-shadow: -.4em .4em 15px purple;
}
.tagline {
    position: relative;
    left: 10%;
    top: 15%;
    z-index: 2;
}
.summary {
    position: relative;
    left: 10%;
    top: 20%;
    width: 85vw;
    text-wrap: wrap;
}
.nameF, .nameL, .tagline, .summary {
    animation-name: appear;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.moon, .shadow {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
}
.moon {
    position: sticky;
    box-shadow: -1em .5em 1em purple;
    background: radial-gradient(circle at center, gray 30%, lightgoldenrodyellow 70%);
    top: 5%;
    left: 70%;
}
.shadow {
    position: absolute;
    background-color: black;
    top: -30%; 
    right: -30%;
}
@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
/*home media*/
@media (max-width: 400px) {
    .nameF, .nameL {
        font-size: 3em;
    }
    i, a {
        font-size: 1.5em;
    }
}

/*subsections bio*/
#bio {
    display: flex;
    padding: 1%;
    background-image: linear-gradient(black, gray);
}
.picture {
    width: 15vw;
    aspect-ratio: 1;
    border-radius: 5%;
    background-position:center;
    background-size: cover;
}
.topRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.botRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text {
    color: white;
    font-weight: bolder;
    width: 35vw;
    padding: 3%;
}
#pic1 {
    background-image: url(images/IMG_5444.jpg);
}
#pic2 {
    background-image: url(images/IMG_7711.jpg);
}
@media (max-width: 1000px) {
    #bio, .topRow, .botRow {
        display: flex;
        flex-direction: column;
    }
    .picture {
        width: 50vw;
    }
}
@media (max-width: 400px) {
    .picture {
        width: 40vw;
    }
}

/*subsections portfolio*/
#portfolio {
    background-image: linear-gradient(gray, lightgrey)
}
.carousel {
    padding-top: 2.5%;
    padding-bottom:2.5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.projDesc {
    padding: 1%;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.viewer {
    grid-column: 1;
    justify-self: center;
    position: relative;
    display: flex;
    width: 30vw;
    aspect-ratio: 1;
    border: solid black .5em;
    border-radius: 15%;
    scroll-margin-top: 11vh;
}
.slide {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    aspect-ratio: 1;
    top:0;
    left:0;
    opacity: 0;
    border-radius: 14%;
    scroll-margin-top: 11vh;
}
nav {
    grid-column: 1 / 3;
    display: flex;
    justify-content:space-around;
}
#slideA {
    background-image: url(images/battleship.png);
    background-position: center;
    background-size: cover;
    /*default start slide*/
    opacity: 1;
}
#slideB {
    background-color: green;
}
#slideC {
    background-color:blue;
}
#slideD {
    background-color: orange;
}
.slide:target {
    opacity: 1;
}

/*media for portfolio*/
@media (max-width: 899px) and (min-width: 700px) {
    .carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .viewer {
        width: 40vw;
        scroll-margin-top:13vh;
    }
    .slide {
        scroll-margin-top:13vh;
    }
    .projDesc {
        font-size: 1.5em;
    }
}
@media (max-width: 699px) and (min-width: 500px) {
    .carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .viewer {
        width: 45vw;
        scroll-margin-top:16vh;
    }
    .slide {
        scroll-margin-top:16vh;
    }
    .projDesc {
        font-size: 1.5em;
    }
}
@media (max-width: 499px) {
    .carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .viewer {
        width: 55vw;
        scroll-margin-top:17vh;
    }
    .projDesc {
        font-size: 1.5em;
        scroll-margin-top:17vh;
    }
}

#resume {
    background-image: linear-gradient(lightgray, pink);
}
.sunrise {
    
    width: 100%;
    aspect-ratio: 1;
    z-index: 1;
}

/*Resume subsection */
.resHeader {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 8em;
    width: 40%;
    background-image: linear-gradient(to right, gray, white);
    border-radius: 5%;
    border: .4em solid black;
}
h1 {
    font-size: 2em;
    margin: .2em;
}
h2 {
    font-size: 1.5em;
    margin: .05em;
}

