/*main sections*/
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
header, footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 10%;
    width: 100%;
    z-index: 1;
    background: rgb(13, 13, 87);
    color: white;
}
header {
    top:0%;
}
footer {
    top:90%;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    position: relative;
    background: lightgrey;
    height: 100vh;
}
/*subsections portfolio*/
#portfolio {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
@media (min-width: 1000px) {
    #portfolio {
    --portfolio-width: 40%;
}
}
@media (max-width: 1000px) and (min-width: 500px) {
    #portfolio {
    --portfolio-width: 47%;
}
}
@media (max-width: 500px) {
    #portfolio {
    --portfolio-width: 60%;
}
}
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.projDesc {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}
.viewer {
    position: relative;
    display: flex;
    width:var(--portfolio-width);
    aspect-ratio: 1;
    border: solid black .5em;
    border-radius: 15%;
}
.slide {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    aspect-ratio: 1;
    top:0;
    left:0;
    opacity: 0;
    scroll-margin-top: var(--scr-top-margin);
    border-radius: 14%;
}
nav {
    display: flex;
    justify-content:space-between;
    width: var(--portfolio-width);
}
nav span.material-symbols-outlined a {
    color: black;
}
#slideA {
    background-image: url(images/battleship.png);
    background-position: center;
    background-size: cover;
    /*default start slide*/
    opacity: 1;
}
#slideB {
    background-color: green;
}
#slideC {
    background-color:blue;
}
#slideD {
    background-color: orange;
}
.slide:target {
    opacity: 1;
}
/*minor elements - all sections*/
i {
    font-size: 2em;
}
a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}
a:hover {
    color: gold;
    font-weight: bolder;
}
